@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

.team {
  padding: 100px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    @include medium() {
      margin-right: 100px;
    }
  }

  &__our {
    @include item();
    margin-bottom: 16px;
  }

  &__title {
    @include title(20px);
  }

  &__text {
    @include text();
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
  }

  &__item {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin-right: 20px;
    margin-bottom: 20px;

    @include medium() {
      width: 160px;
      height: 170px;
    }

    @include small() {
      width: 120px;
      height: 120px;
    }
  }

  &__more {
    width: 200px;
    height: 200px;
    background-color: $main-color;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include medium() {
      width: 160px;
      height: 170px;
    }

    @include small() {
      width: 120px;
      height: 120px;
    }

    &:hover {
      cursor: pointer;
    }

    div {
      max-width: 130px;
      color: white;
      font-family: "Poppins-Medium";
      font-size: 16px;
      line-height: 24px;

      @include small() {
        font-size: 14px;
        padding-left: 5px;
      }

      span {
        position: relative;
        top: 2px;
        left: 10px;

        @include small() {
          display: none;
        }
      }
    }
  }
}
