@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

.service {
  padding: 60px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  &__title {
    @include title(55px);
    max-width: 515px;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 60px;
    padding: 20px 35px;

    &:hover {
      box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
      background-color: $main-color;
      cursor: pointer;

      .service__number {
        color: $main-color;
        background: #fff;
      }

      .service__name {
        color: #fff;
      }

      .service__text {
        color: #fff;
      }
    }
  }

  &__number {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: $main-color;
    border-radius: 50%;
    font-weight: bold;
    font-size: 38px;
    color: #fff;
    text-align: center;
  }

  &__descr {
  }

  &__name {
    font-family: "Poppins-Bold";
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #0a043c;
    margin-bottom: 5px;
  }

  &__text {
    font-family: "Poppins-Light";
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #79869f;
  }

  &__img {
    @include small() {
      display: none;
    }
    img {
      width: 90%;
    }
  }
}
